#Importing required library

In [1]:
import os
import pandas as pd
import numpy as np
from datetime import date

Opening a csv file

In [4]:
df=pd.read_csv("text.csv")
df

      Unnamed: 0                                               Text
0              0             '@Rizwank3315 Bhai aap ko dm karna he'
1              1  '@teamimrankhanpm Bismillah Hir Rahma Nir Rahi...
2              2  '@Shailes47245787 @Alienkumar1 @TeamKangana5 B...
3              3  '@mehmoodkakar604 @ShakilRai2 @YouTube AUS SE ...
4              4         '@ShubhiM42016011 Aap aaj aayiye thik hai'
...          ...                                                ...
4990        4990  '@ZDROWCO @TSzulc_ @Tash_Witk @ireneuszkulesza...
4991        4991            '@AnaliseVerdao @mariapmihok homenagem'
4992        4992  'Another 20 tweet Zacktivation. I vote for Zac...
4993        4993         '@fffffffrd pse acho q em sp n tem n kkkk'
4994        4994                '@laurent703611LP „Åä„Å§„ÅÇ„Çä„Åß„Åô„Äú\n„ÅäËÖπ„Åô„ÅÑ„Åü„Äúü¶à'

[4995 rows x 2 columns]

# Cleaning of Data

1.remove Emojis

In [5]:
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df

     Unnamed: 0                                               Text
0             0             '@Rizwank3315 Bhai aap ko dm karna he'
1             1  '@teamimrankhanpm Bismillah Hir Rahma Nir Rahi...
2             2  '@Shailes47245787 @Alienkumar1 @TeamKangana5 B...
3             3  '@mehmoodkakar604 @ShakilRai2 @YouTube AUS SE ...
4             4         '@ShubhiM42016011 Aap aaj aayiye thik hai'
...         ...                                                ...
4990       4990  '@ZDROWCO @TSzulc_ @Tash_Witk @ireneuszkulesza...
4991       4991            '@AnaliseVerdao @mariapmihok homenagem'
4992       4992  'Another 20 tweet Zacktivation. I vote for Zac...
4993       4993         '@fffffffrd pse acho q em sp n tem n kkkk'
4994       4994                              '@laurent703611LP \n'

[4995 rows x 2 columns]

In [6]:
df=df.drop(['Unnamed: 0'], axis=1)  
df

                                                   Text
0                '@Rizwank3315 Bhai aap ko dm karna he'
1     '@teamimrankhanpm Bismillah Hir Rahma Nir Rahi...
2     '@Shailes47245787 @Alienkumar1 @TeamKangana5 B...
3     '@mehmoodkakar604 @ShakilRai2 @YouTube AUS SE ...
4            '@ShubhiM42016011 Aap aaj aayiye thik hai'
...                                                 ...
4990  '@ZDROWCO @TSzulc_ @Tash_Witk @ireneuszkulesza...
4991            '@AnaliseVerdao @mariapmihok homenagem'
4992  'Another 20 tweet Zacktivation. I vote for Zac...
4993         '@fffffffrd pse acho q em sp n tem n kkkk'
4994                              '@laurent703611LP \n'

[4995 rows x 1 columns]

2.Remove Username

In [7]:
df['Text'] = df['Text'].str.replace(r'\s*@\w+', '', regex=True)
df['Text'] = df['Text'].str.replace(r'\s*\B@\w+', '', regex=True)
df['Text'] = df['Text'].str.replace(r'\s*@\S+', '', regex=True)
df['Text'] = df['Text'].str.replace(r'\s*@\S+\b', '', regex=True)

In [8]:
df.tail(50)

                                                   Text
4945  'CD\n\n https://t.co/Hse5Bi1A7B https://t.co/o...
4946                                                ' '
4947  ' top 3 datas do futuro em que vcs viro pra SP...
4948  ' Eu sou de Santos - SP. Praia linda.............
4949                                            ' .( )'
4950                                              ' \n'
4951                                                 ''
4952                                               ' .'
4953   2018-19 UD Ice Rookie Premiers Josh Mahura #7...
4954           '\n\n\n#Peing # https://t.co/TFo0akbnB9'
4955                                                ' '
4956                      '\n \n12:00-13:001(`)\n \n\n'
4957                                             '  ~~'
4958                                       ' Aguacate '
4959                                               ' sp
4960                          '         300    \n\n#__'
4961                                ' ....\n\n....\n\n'
4962  ' Now would be a great time to invest in a gen...
4963                                     ' HOLAAAA DAN'
4964                                       ' Zz(--`*).'
4965                                           ' ((x))'
4966                                              ' SP'
4967                                           '      '
4968          '     \n\n\n(;_;)\n3\n\U0001f90d\n\n\n\n'
4969                                              ' Sim
4970  'man reading this apology FIRST and THEN seein...
4971                                         ' exactly'
4972          ' Dos que se aproveitaram do sonho da Isa
4973                ' Campina  mais movimentada q SP! '
4974                                                ' '
4975      ' Depois que renovou nunca mais foi o mesmo.'
4976                                  'Self-sufficient'
4977          '\n\n\nSP\n\n\n1 https://t.co/2e213RdoDm'
4978                'excited nako maka kuhag sp huhuhu'
4979    ' E a ideia de pagar a dvida do carto de crdito
4980                                              ' ()'
4981                                             ' ...'
4982  ' Akakakakakakak mas eu ganhei a conquista de ...
4983                   ' \n\n\nsp\u200d\n\n\n\n\n\n\n#'
4984                                   'BIGBANG1\n\n\n'
4985   Fools will be foolz ill just leave these fact...
4986             'mi compaera me regal una pulcera uwu'
4987                                        '   SP
4988  '[Video | 02.03.22][ 4K] WONHO - Eye On You ( ...
4989                         ' MAS O GOSTO EH HORRIVEL'
4990  ' A ironia to taki owoc. Moja p. Mama robia z ...
4991                                       ' homenagem'
4992  'Another 20 tweet Zacktivation. I vote for Zac...
4993                   ' pse acho q em sp n tem n kkkk'
4994                                              ' \n'

3.Remove Panctuations

In [9]:
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
# Removing punctuations in string
# Using loop + punctuation string
def remove_punct(text):
    for i in text:
        if i in punc:
            text = text.replace(i, "")
    return text

In [10]:
df['Text']=df['Text'].apply(remove_punct)
df

                                                   Text
0                               Bhai aap ko dm karna he
1      Bismillah Hir Rahma Nir Rahim MashaAllah Mash...
2      Bhai aap jaise logo ko sirf kamiya hi dikhti ...
3      AUS SE BARRA NAWAZ AKA BAKWAAS SHARIF FUNDING...
4                               Aap aaj aayiye thik hai
...                                                 ...
4990   A ironia to taki owoc Moja p Mama robia z teg...
4991                                          homenagem
4992  Another 20 tweet Zacktivation I vote for Zack ...
4993                      pse acho q em sp n tem n kkkk
4994                                                  n

[4995 rows x 1 columns]

Converting a text to a lower case

In [11]:
df['Text'] = df['Text'].str.lower()
df

                                                   Text
0                               bhai aap ko dm karna he
1      bismillah hir rahma nir rahim mashaallah mash...
2      bhai aap jaise logo ko sirf kamiya hi dikhti ...
3      aus se barra nawaz aka bakwaas sharif funding...
4                               aap aaj aayiye thik hai
...                                                 ...
4990   a ironia to taki owoc moja p mama robia z teg...
4991                                          homenagem
4992  another 20 tweet zacktivation i vote for zack ...
4993                      pse acho q em sp n tem n kkkk
4994                                                  n

[4995 rows x 1 columns]

# Creating a labelled column

#Keywords present in list are labelled by 1 else 0

In [12]:
df['label'] = df.Text.str.extract('(aap|bsp|bjp|sp|congress)')
df['label'] = df['label'].replace(['aap','bsp','bjp','sp','congress'],'1')
df['label'] = df['label'].fillna(0)

In [13]:
df.tail(50)

                                                   Text label
4945         cdnn httpstcohse5bi1a7b httpstcooo4beyyypf     0
4946                                                        0
4947   top 3 datas do futuro em que vcs viro pra sp ...     1
4948   eu sou de santos  sp praia linda ou ser que s...     1
4949                                                        0
4950                                                  n     0
4951                                                        0
4952                                                        0
4953   201819 ud ice rookie premiers josh mahura 70 ...     1
4954                       nnnpeing  httpstcotfo0akbnb9     0
4955                                                        0
4956                                  n n120013001`n nn     0
4957                                                        0
4958                                          aguacate      0
4959                                                 sp     1
4960                                          300    nn     0
4961                                               nnnn     0
4962   now would be a great time to invest in a gene...     0
4963                                        holaaaa dan     0
4964                                                zz`     0
4965                                                  x     0
4966                                                 sp     1
4967                                                        0
4968                                nnnn3nu0001f90dnnnn     0
4969                                                sim     0
4970  man reading this apology first and then seeing...     0
4971                                            exactly     0
4972            dos que se aproveitaram do sonho da isa     0
4973                    campina  mais movimentada q sp      1
4974                                                        0
4975          depois que renovou nunca mais foi o mesmo     0
4976                                     selfsufficient     0
4977                       nnnspnnn1 httpstco2e213rdodm     1
4978                  excited nako maka kuhag sp huhuhu     1
4979      e a ideia de pagar a dvida do carto de crdito     0
4980                                                        0
4981                                                        0
4982   akakakakakakak mas eu ganhei a conquista de g...     0
4983                                  nnnspu200dnnnnnnn     1
4984                                        bigbang1nnn     0
4985   fools will be foolz ill just leave these fact...     0
4986               mi compaera me regal una pulcera uwu     0
4987                                            sp          1
4988  video | 020322 4k wonho  eye on you      l sho...     0
4989                            mas o gosto eh horrivel     0
4990   a ironia to taki owoc moja p mama robia z teg...     0
4991                                          homenagem     0
4992  another 20 tweet zacktivation i vote for zack ...     0
4993                      pse acho q em sp n tem n kkkk     1
4994                                                  n     0

In [14]:
df.describe()

        Text label
count   4995  4995
unique  4337     2
top              1
freq     178  2790

In [15]:
df.Text.dtypes

dtype('O')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4995 entries, 0 to 4994
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    4995 non-null   object
 1   label   4995 non-null   object
dtypes: object(2)
memory usage: 78.2+ KB

In [17]:
df['label'].isnull().sum()

0

In [18]:
df.label.dtypes

dtype('O')

In [19]:
(df['label'] == 0).sum()

2205

In [20]:
(df['label'] == '1').sum()

2790

In [21]:
df.describe()

        Text label
count   4995  4995
unique  4337     2
top              1
freq     178  2790